-luci-app-cpufreq
luci-app-ddns
luci-app-firewall
luci-app-openclash
luci-app-passwall
luci-app-ssr-plus
luci-app-wireguard
luci-app-wrtbwmon
luci-app-zerotier
luci-proto-relay
luci-proto-vxlan
luci-i18n-ddns-zh-cn
luci-i18n-firewall-zh-cn
luci-i18n-passwall-zh-cn
luci-i18n-ssr-plus-zh-cn
luci-i18n-wireguard-zh-cn
luci-i18n-zerotier-zh-cn
ddns-scripts_aliyun
